<div class="container">
    <div class="dog-card" *ngIf="currentDog$ | async as dog">
      <img [src]="dog.image" alt="dog" />
  
      <div class="info">
        <h2>{{ dog.breed }}</h2>
  
        <button class="toggle-temperament" (click)="showTemperament = !showTemperament">
          😌 Tempérament
        </button>
  
        <p *ngIf="showTemperament">{{ dog.temperament }}</p>
  
        <div class="actions">
          <button (click)="addToWishlist(dog)">💖</button>
          <button (click)="adopt(dog)">✅</button>
          <button (click)="pass()">⏩</button>
        </div>
      </div>
    </div>
  
    <!-- Onglets de navigation -->
    <div class="tabs">
      <button (click)="activeTab = 'adopted'">Adoptés</button>
      <button (click)="activeTab = 'wishlist'">Favoris</button>
    </div>
  
    <!-- Section adoptés -->
    <div class="list" *ngIf="activeTab === 'adopted'">
      <h3>🐶 Adoptés</h3>
      <div style="position: relative; display: inline-block;" *ngFor="let dog of adoptedDogs$ | async">
        <img [src]="dog.image" width="100" style="border-radius: 8px; border: 1px solid #ccc;" />
        <button (click)="removeFromAdopted(dog)" style="
          position: absolute;
          top: -6px;
          right: -6px;
          background-color: crimson;
          border: none;
          color: white;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          cursor: pointer;
          font-size: 12px;
        ">
          ×
        </button>
      </div>
      
    </div>
  
    <!-- Section favoris -->

    <div class="list" *ngIf="activeTab === 'wishlist'">
        <h3>💾 Favoris</h3>
        <div style="position: relative; display: inline-block;" *ngFor="let dog of filteredWishlist$ | async">
            <img [src]="dog.image" width="100" style="border-radius: 8px; border: 1px solid #ccc;" />
            <button (click)="removeFromWishlist(dog)" style="
              position: absolute;
              top: -6px;
              right: -6px;
              background-color: red;
              border: none;
              color: white;
              border-radius: 50%;
              width: 20px;
              height: 20px;
              cursor: pointer;
              font-size: 12px;
            ">
              ×
            </button>
          </div>
    </div>
          
   