<div class="container">
    <div class="dog-card" *ngIf="currentDog$ | async as dog">
      <img [src]="dog.image" alt="dog" />
  
      <div class="info">
        <h2>{{ dog.breed }}</h2>
  
        <button class="toggle-temperament" (click)="showTemperament = !showTemperament">
          😌 Tempérament
        </button>
  
        <p *ngIf="showTemperament">{{ dog.temperament }}</p>
  
        <div class="actions">
          <button (click)="addToWishlist(dog)">💖</button>
          <button (click)="adopt(dog)">✅</button>
          <button (click)="pass()">⏩</button>
        </div>
      </div>
    </div>
  
    <!-- Onglets de navigation -->
    <div class="tabs">
      <button (click)="activeTab = 'adopted'">Adoptés</button>
      <button (click)="activeTab = 'wishlist'">Favoris</button>
    </div>
  
    <!-- Section adoptés -->
    <div class="list" *ngIf="activeTab === 'adopted'">
      <h3>🐶 Adoptés</h3>
      <ng-container *ngFor="let dog of adoptedDogs$ | async">
        <img [src]="dog.image" width="80" />
      </ng-container>
    </div>
  
    <!-- Section favoris -->
    <div *ngIf="activeTab === 'wishlist'" class="list">
        <input
          type="text"
          [formControl]="raceFilterControl"
          placeholder="Filtrer par race"
          style="margin-bottom: 10px; padding: 5px; border-radius: 6px;"
        />
      
    <div class="list" *ngIf="activeTab === 'wishlist'">
      <h3>💾 Favoris</h3>
      <ng-container *ngFor="let dog of wishlistDogs$ | async">
        <img [src]="dog.image" width="80" />
      </ng-container>
    </div>
  </div>
  